
      /* Optional: Make the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color:#ccffff;
      }
      #map {
        height: 100%;
        width: 100%;
        margin- top: 50px;
        margin- left: auto;
        margin- rigth: auto;
        padding: 0;
      }
